@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    color: #797979;
    background: rgb(182, 173, 173);
    font-family: "Ruda", sans-serif;
}


/* NAVIGATION */

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #e27c6a;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a:hover {
    background: #fff;
    color: black;
}

.navigation ul li:nth-child(1) {
    background: transparent;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a.isActive {
    background: #fff;
    color: black;
}

.navigation ul li a .icon {
    padding: 15 10;
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li a .icon .fas {
    font-size: 24px;
    align-items: center;
}

.navigation ul li:nth-child(1) {
    background: transparent;
}

.navigation ul li a .title {
    padding: 0 20;
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}


/* NAVIGATION */


/* TOGGLE */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: rgb(221, 221, 221);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar {
    padding-right: 10px;
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.toggle::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24;
    text-align: center;
    color: black;
    font-weight: 900;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    padding-left: 40px;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    pad: 5px 20px;
    outline: none;
    border: 1px solid black;
}

.search label .fas {
    position: absolute;
    left: 15px;
    top: 4px;
}

.user {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btns {
    display: flex;
}

.btn-logout {
    outline: none;
    display: block;
    border: 0;
    padding: 16px 30px;
    border-radius: 30px;
    background: #0081d5;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn-logout a {
    text-decoration: none;
    color: #fff;
}

.btn-logout:hover,
.btn-logout:focus {
    background: #005c99;
}

.btn-logout:active {
    background: #003659;
}

.btn-back {
    outline: none;
    display: block;
    border: 0;
    padding: 16px 30px;
    border-radius: 30px;
    background: #de2900;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-left: 10px;
}

.btn-back a {
    text-decoration: none;
    color: #fff;
}

.btn-back:hover,
.btn-back:focus {
    background: #8f1303;
}

.btn-back:active {
    background: #8f1303;
}

.icon-log {
    padding-right: 5px;
}


/* TOGGLE */


/* SELECT */

.select-parent {
    display: flex;
    flex-wrap: wrap;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    overflow: hidden;
    border-radius: 0.25em;
    margin: 10px;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.child {
    display: none;
}

.select:hover::after {
    color: #23b499;
}


/* SELECT */


/* FORM */

.details {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details .productInfo {
    position: relative;
    max-width: 1000px;
    width: 100%;
    min-height: 530px;
    background: #fff;
    display: flex;
}

.details .productImg {
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 35px;
}

.details .productResult {
    position: relative;
    min-height: 530px;
    background: rgb(255, 255, 255);
    padding: 35px 10px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 700;
    color: black;
}

.Info-details {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 30px;
    margin: 20px 0;
}

.Info-details .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.Info-details .title::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 30px;
    height: 3px;
    width: 160px;
    background: #9b59b6;
}

.Info-details form .length-info {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 10px;
    justify-content: space-between;
}

form .length-info .input-box {
    margin: 10px 0;
    width: calc(100% / 2 -20px);
}

.length-info .input-box .info {
    font-weight: 500;
    margin-bottom: 5px;
}

.length-info .input-box input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

form .button {
    height: 45px;
    margin: 30px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.result {
    height: 100%;
    width: 100%;
}


/* FORM */


/* Reponsive*/

@media (max-width: 992px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        left: 0;
        width: 300px;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 758px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-weight: 600;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .details.product {
        overflow: auto;
    }
    .details.product table {
        width: 600px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle.active {
        z-index: 10000;
        right: 0;
        left: initial;
        position: fixed;
    }
    .toggle.active::before {
        color: white;
    }
    .main,
    .main.active {
        width: 100%;
        left: 0;
    }
}