<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/login" method="post" name="formlogin">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <button type="submit">Đăng nhập</button>
</form>
</body>
</html> -->
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/StyleLoginPage.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>
    <div class="full-page">
        <!-- HEADER -->
        <header>
            <a class="logo" href="/">
                <img src="/image/logo.png" alt="logo">
                <span class="logo-name">BẾN NHÀ RỒNG</span>
            </a>
            <nav>
                <ul class="nav__links">
                    <li><a href="/user">Tham quan</a></li>
                    <li><a href="/about">Về chúng tôi</a></li>
                </ul>
            </nav>
        </header>


        <!-- RESPONSIVE  -->
        <div class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="/user">Tham quan</a>
                <a href="#">Về chúng tôi</a>
            </div>
        </div>

        <!-- LOGIN FORM -->
        <div id="login-form" class="login-page login">
            <div class="form-box">
                <div class="login-content">
                    <form action="/login" method="post" name="formlogin">
                        <h2  class="title">Đăng nhập</h2>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <h5 style="color: white;">Tài khoản</h5>
                                <input name="username" type="text" class="input">
                            </div>
                        </div>
                        <div class="input-div pass">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5 style="color: white;">Mật khẩu</h5>
                                <input name="password" type="password" class="input">
                            </div>
                        </div>

                            <button type="submit"  style="background: yellow;margin-top: 50px; font-size: 20px;" class="submit-btn">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__wrapper">
                <div class="footer__desc">
                    <h1>Nhóm 14 - Bến Nhà Rồng</h1>
                    <p>Di tích lịch sử</p>
                    <p id="phone"></p>
                </div>
                <div class="footer__links">
                    <h2 class="footer__tittle">Contact Us</h2>
                    <a href="/services.html" class="footer__link">Contact</a>
                    <a href="/services.html" class="footer__link">Support</a>
                    <a href="/services.html" class="footer__link">Sponsorships</a>
                </div>
            </div>
            <div class="footer__wrapper">
                <div class="footer__links">
                    <h2 class="footer__tittle">Information</h2>
                    <a href="/" class="footer__link">Pricing</a>
                    <a href="/" class="footer__link">Plans</a>
                    <a href="/" class="footer__link">FAQ</a>
                </div>
                <div class="footer__links">
                    <h2 class="footer__tittle">Social Media</h2>
                    <a href="/" class="footer__link">Instagram</a>
                    <a href="/" class="footer__link">Facebook</a>
                    <a href="/" class="footer__link">Youtube</a>
                    <a href="/" class="footer__link">Twitter</a>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPT -->

    <script>
        const doc = document;
        const menuOpen = doc.querySelector(".menu");
        const menuClose = doc.querySelector(".close");
        const overlay = doc.querySelector(".overlay");

        menuOpen.addEventListener("click", () => {
            overlay.classList.add("overlay--active");
        });

        menuClose.addEventListener("click", () => {
            overlay.classList.remove("overlay--active");
        });
    </script>
    <!-- <script>
        var modal = document.getElementById("login-form");
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    </script> -->
    <script>
        const inputs = document.querySelectorAll(".input");


        function addcl() {
            let parent = this.parentNode.parentNode;
            parent.classList.add("focus");
        }

        function remcl() {
            let parent = this.parentNode.parentNode;
            if (this.value == "") {
                parent.classList.remove("focus");
            }
        }


        inputs.forEach(input => {
            input.addEventListener("focus", addcl);
            input.addEventListener("blur", remcl);
        });
    </script>
</body>

</html>

</html>