<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.1" />
    <title>Admin page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- <link rel="stylesheet" href="Admin-asset/admin_product.css" /> -->
    <link rel="stylesheet" href="/css/admin_home.css" />
</head>

<body>
    <div class="container">
        <!-- Navigation -->
        <div class="navigation">
            <ul>
                <li>
                    <a href="/admin">
                        <span class="icon"><i class="fas fa-users-cog" aria-hidden="true"></i
                            ></span>
                        <span class="title">
                                <h2>ADMIN</h2>
                            </span>
                    </a>
                </li>

                <br /><br />

                <li>
                    <a href="/admin">
                        <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
                        <span class="title">Chỉnh sửa cột</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admin_circulation">
                        <span class="icon"><i class="fas fa-archway"></i></span>
                        <span class="title">Chỉnh sửa tt hình tròn</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admin_fence">
                        <span class="icon"><i class="fas fa-dungeon"></i></span>
                        <span class="title">Chỉnh sửa hàng rào</span>
                    </a>
                </li>
                <li>
                    <a class="isActive" href="/admin/admin_update">
                        <span class="icon"><i class="fas fa-folder-minus"></i></span>
                        <span class="title">Xóa, sửa BNR</span>
                    </a>
                </li>
        </div>

        <div class="main">
            <!-- Toggle starts -->
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                            <input type="text" placeholder="Search here" />
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </label>
                </div>
                <button class="btn-logout"><a href="/logout">Đăng xuất</a></button>
            </div>
            <!-- Toggle ends -->

            <!-- Form columns -->
            <div class="details">
                <div class="productInfo">
                    <div class="Info-details">
                        <div class="cardHeader">
                            <h2 class="title">Chỉnh sửa</h2>
                        </div>
                        <form action="/data/updateitem" method="post" name="createcirculation">
                            <div class="select-parent">
                                <!-- Chọn địa điểm -->
                                <div class="select parent">
                                    <select name="type" id="format">
                                            <option value="<%=type%>"><%=type%></option>
                                        </select>
                                </div>
                                <div class="select parent">
                                    <select name="item" id="format">
                                            <option selected disabled>Chọn thành phần</option>
                                            <% listitem.forEach(item => { %>
                                            <option value="<%=item.id%>"><%=item.Name%></option>
                                            <% }) %>
                                        </select>
                                </div>
                                <div class="select parent">
                                    <select name="method" id="format">
                                            <option selected disabled>Chọn hành động</option>
                                            <option value="update">Sửa</option>
                                            <option value="remove">Xóa</option>
                                        </select>
                                </div>
                                <!-- Chọn bảng tính -->
                            </div>
                            <div class="button">
                                <input type="submit" value="Thực hiện"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="productResult">
                    <h2 class="title">Kết quả</h2>
                    <iframe src="/user" title="Bến Nhà Rồng" class="result"></iframe>
                </div>
            </div>
            <!-- Form columns -->
        </div>
    </div>
    <script>
        function toggleMenu() {
            let toggle = document.querySelector(".toggle");
            let navigation = document.querySelector(".navigation");
            let main = document.querySelector(".main");
            toggle.classList.toggle("active");
            navigation.classList.toggle("active");
            main.classList.toggle("active");
        }
        let details_column = document.querySelector(".select.child.detail_column");
        details_column.style.display = "flex";
    </script>
</body>

</html>