<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Smartcity - Building Map</title>

    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 97%;
            width: 100%;
        }

        #back {
            position: absolute;
            bottom: 20px;
        }
        h1 {
          text-align: center;
        }
        #back i {
            background-image: url(app/public/img/back.svg);
            background-repeat: no-repeat;
            display: inline-block;
            width: 100px;
            height: 25px;
            padding-left: 25px;
            padding-top: 2px;
            margin: 10px;
            cursor: pointer;
            background-size: 20px;
        }
    </style>

    <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.16/"></script>

    <script>
        require([
            "esri/Map",
            "esri/views/SceneView",
            "esri/layers/GeoJSONLayer",
            "esri/layers/SceneLayer",
            "esri/layers/GraphicsLayer",
            "esri/Graphic",
            "esri/request",
        ], function (
            Map,
            SceneView,
            GeoJSONLayer,
            SceneLayer,
            GraphicsLayer,
            Graphic,
            esriRequest
        ) {

            const map = new Map({
                basemap: "topo-vector",
                ground: "world-elevation",
            });

            const view = new SceneView({
                container: "viewDiv",
                map: map,
                camera: {
                    position: [106.70680940151215, 10.766974818494525, 100],
                    heading: 0,
                    tilt: 60,
                },
            });

            const DrawGeo = (url, size, color) => {
                const geojsonLayer = new GeoJSONLayer({
                    url: url,
                });
                geojsonLayer.renderer = {
                    type: "simple",
                    symbol: {
                        type: "polygon-3d",
                        symbolLayers: [{
                            type: "extrude",
                            size: size,
                            material: {
                                color: color,
                            },
                        }],
                    },
                };
                return geojsonLayer;
            }
            let layers = [];
            layers.push(DrawGeo('http://localhost:3000/data/nen', 1.1, "#E7AD9F"));
            map["layers"]=layers
        });
    </script>

</head>

<body>
    <h1>UserPage</h1>
    <div id="viewDiv"></div>
</body>

</html>