<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home Page</h1>
  <Button><a href="/admin" style="text-decoration:none">Go to Admin</Button>
  <Button><a href="/user" style="text-decoration:none">Go to User</Button>
</body>
</html>